.home-page {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
}

.home-bg {
  color: #ffffff;
  font-family: 'Roboto';
  padding: 30px;
  width: 60%;
}
.home-btn {
  color: #ffffff;
  width: 120px;
  height: 30px;
  border-width: 0px;
  border-radius: 10px;
  background-color: #4f46e5;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}
